__pycache__
*.swp
*.pyc
docs/.build
test*/*
!test*/*.dat
!test*/*.sw_ngwfs
!test*/*.md
!test*/*.cdft
!test*/*.eda*
!test*/\$$Q*
!test*/\$$M*
!test*/QM_*.vmatrix
!test*/QM_*.mpoles_for_onetep
test*/test.out.*
test*/test.err.*
test*/*inittr*
test*/spectrum.dat
test*/npa_n*.dat
test*/pdos_weights.dat
test*/c2h4-group_spin_diff.cdft
test*/cedft-Pt13.cdft
test*/H2O_dimer_md*.md
